*
!.gitignore

!gradle/
!gradle/**

!src/
!src/**

!build.gradle
!build.gradle.kts
!settings.gradle
!settings.gradle.kts
!gradlew
!gradlew.bat
!gradle.properties

!profiles/
!profiles/**

!test-libraries/
!test-libraries/**

!README.md
!LICENSE